@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/Libre_Franklin//static/LibreFranklin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.chart {
    width: 100%;
    min-height: 400px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: white !important;
    overflow: hidden;
}

.jumbotron{
    background-color: #BFD7B5;
    border: 2px solid black;
}

body {
  background-color: #F5F5DC;
  font-family: 'Libre Franklin';
}

.oculto {
    display: none;
}